<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007266249669-4vhvqfjuuu712jlds0ouiat88vh9fc8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007266249669-4vhvqfjuuu712jlds0ouiat88vh9fc8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007266249669-o111e017rgk25mp6qvnc76kamiq6ja09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhGaLFjmcC8Q7ITqFNW638rniZiE9pQOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1007266249669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transferenciaMaterial</string>
	<key>PROJECT_ID</key>
	<string>asiaroboticamovil</string>
	<key>STORAGE_BUCKET</key>
	<string>asiaroboticamovil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007266249669:ios:3a736ac56ab4ed161829ac</string>
</dict>
</plist>