<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975620703335-o0htbvep4u1ac8fv884mb2klathtfi57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975620703335-o0htbvep4u1ac8fv884mb2klathtfi57</string>
	<key>API_KEY</key>
	<string>AIzaSyDDA6C2n9_ERH4qELjoSzp4fFQNC-WNQCU</string>
	<key>GCM_SENDER_ID</key>
	<string>975620703335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clientesasiarobotica.asiarobotica.appClientes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-9d539</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-9d539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975620703335:ios:dda25fe428fb0e30b680c2</string>
	<key>DATABASE_URL</key>
	<string>https://loginfirebase-9d539-default-rtdb.firebaseio.com</string>
</dict>
</plist>